<table class="styled-table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let temp of cartItems" class="active-row">
            <td><img src="{{temp.imageUrl}}" class="img-responsive" width="75px"></td>
            <td>
                <p>{{temp.name}}</p>
                <p>{{temp.unitPrice | currency :'INR'}}</p>
            </td>
            <td>
                <button (click)="decrementQuantity(temp)">-</button>
                {{temp.quantity}}
                <button (click)="incrementQuantity(temp)">+</button>
            </td>
        </tr>
        <tr class="active-row">
            <td></td>
            <td>Totals</td>
            <td>
                <p>Total Price : {{totalPrice}}</p><p>Total Quantity : {{totalQuantity}}</p>
                <div class="checkout">
                    <button class="check-btn">Checkout</button>
                </div>
            </td>
        </tr>
        <!-- and so on... -->
    </tbody>
</table>
