<div id="templatemo_container">
    
    <app-menu></app-menu>

    <app-header></app-header>

    <div id="templatemo_content">

        <div id="templatemo_content_left">


            <app-categories></app-categories>

            <app-best-seller></app-best-seller>

        </div>

        <div id="templatemo_content_right">

            <router-outlet></router-outlet>

            <a href="#"><img src="assets/images/templatemo_ads.jpg" alt="ads" /></a>
        </div> <!-- end of content right -->

        <div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->

    <div id="templatemo_footer">

        <a href="#">Home</a> | <a href="#">Search</a> | <a href="#">Books</a> | <a
            href="#">New Releases</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
        Copyright © 2024 <a href="#"><strong>Your Company Name</strong></a>
        <!-- Credit: www.templatemo.com -->
    </div>
    <!-- end of footer -->
    <!--  Free CSS Template www.templatemo.com -->
</div> <!-- end of container -->
<!-- templatemo 086 book store -->
<!-- 
Book Store Template 
http://www.templatemo.com/preview/templatemo_086_book_store 
-->