#sign-in-widget {
    text-align: center;
    background-color: teal;
    font-size: 12px;
    border: 5px white solid;
    color: black;
    height: 520px;
    width: 50%;
    margin-left : 20%;
    margin-bottom : 3%;
    padding: 5px 5px;
}