<div class="templatemo_content_left_section">
    <h1>Bestsellers</h1>
    <ul>
        <li><a href="#">Vestibulum ullamcorper</a></li>
        <li><a href="#">Maece nas metus</a></li>
        <li><a href="#">In sed risus ac feli</a></li>
        <li><a href="#">Praesent mattis varius</a></li>
        <li><a href="#">Maece nas metus</a></li>
        <li><a href="#">In sed risus ac feli</a></li>
        <li><a href="#">Flash Templates</a></li>
        <li><a href="#">CSS Templates</a></li>
        <li><a href="#">Web Design</a></li>
        <li><a href="http://www.photovaco.com" target="_parent">Free Photos</a></li>
    </ul>
</div>