.theLogin {
    border: 1px solid rgb(2, 255, 255);
    padding: 10px 10px;
}

.welcome {
    border: 1px solid wood;
    padding: 10px 5px;
    text-align: left;
    color: yellow;
}

button {
    align-items: right;
    color: white;
    background-color: gray;
    padding: 0px 10px;
    margin: auto;
    font-size: 14px;
    border: none;
    transition-duration: 0.4s;
}

.alert {
	color: rgb(204, 0, 255);
	border: 1px solid wood;
    padding: 10px 5px;
    text-align: left;
    font-size: medium;
}

#search {
    float: right;
    margin-right: 20px;
}

#search button {
    padding: 1px 6px 1px 6px;
    border: none;
    font-size: 14px;
    margin-left: 5px;
}

 #search input[type=text] {
    padding: 1px 6px 1px 6px;
    border: none;
    font-size: 14px;
    background-color: khaki;
    color: black;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}